head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title= title
  meta(
    name='description',
    content= description || config.description
  )
  meta(property="og:locale" content="ar_AR")
  meta(property="og:type" content="article")
  meta(property="og:title" content= title)
  meta(
    property='og:description',
    content= description || config.description
  )
  meta(property="og:url" content=config.host)
  meta(property="og:site_name" content=config.title)

  each tag in (tags || [])
    meta(property="article:tag" content= tag)

  meta(property="article:section" content="مدونة")
  link(rel='icon' type='image/png' href='/images/favicon.png')
  link(
    rel="stylesheet"
    href="/css/font-awesome.css"
  )

  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/prism.css')
  link(rel='stylesheet' href='/css/prism-line-numbers.css')

script(src='/js/font-awesome.js')
//- highlight programming languages code
script(src='/js/prism.js')
script(src='/js/prism-line-numbers.js')